body { background-color: #faf8ef; color:#776e65; }
#container { width: 600px; height: 700px; margin: 0 auto; font-weight: 700}
#header { width: 500px; margin: 0 auto; box-sizing: border-box; padding: 10px;overflow: hidden }
.game_name {height: 100px; line-height: 100px; font-size: 80px; ; float: left;}
.score_box { float: right; height: 100px; padding-left: 20px; }
.score_box span { display: block;  }
.new_game { width: 100%; float: left; line-height: 50px}
.now,.best { float: left;  border-radius: 5px; background-color: #bbada0; width: 50px;height: 50px;color: #FFF; font-size: 14px; ; padding: 10px; margin-left: 10px; text-align: center; line-height: 25px }
.new_game span { display: block; float: left; padding-left: 20px; font-size: 18px }
.new_game button { float: right; outline: none; border: none; font-size: 18px; border-radius: 5px; height: 40px; color: #fff;background-color: #8f7a66; cursor: pointer; padding: 0 20px}
#body { position: relative; width: 500px; height: 500px; box-sizing: border-box; border: 15px solid #bbada0; border-radius: 5px; margin: 30px auto; background-color: #bbada0 }
#game_over { display: none; text-align: center; box-sizing: border-box; position: absolute; z-index: 22; width: 500px; height: 500px; background-color: rgba(255,255,255,0.5);left: -15px;top: -15px}
#game_over button { font-size: 18px; border-radius: 5px; height: 40px; color: #fff;background-color: #8f7a66; cursor: pointer; padding: 0 20px }
#game_over p { font-size: 60px;font-weight: 700 }
.grid_cell { width: 106px; height: 106px; border-radius: 3px; background-color: rgba(238, 228, 218, 0.35)}
.title_container { position: absolute; }
.flex-auto-wrap { flex-wrap: wrap;-webkit-flex-wrap: wrap;display: flex; display: -webkit-flex; justify-content: space-between; -webkit-justify-content: space-between;}

/*位置*/
#position-0-0 { top:0; left:0  }
#position-0-1 { top:0; left:121.333px  }
#position-0-2 { top:0; left:242.666px  }
#position-0-3 { top:0; left:363.999px  }
#position-1-0 { top:118px; left:0  }
#position-1-1 { top:118px; left:121.333px }
#position-1-2 { top:118px; left:242.666px  }
#position-1-3 { top:118px; left:363.999px  }
#position-2-0 { top:236px; left:0  }
#position-2-1 { top:236px; left:121.333px  }
#position-2-2 { top:236px; left:242.666px  }
#position-2-3 { top:236px; left:363.999px  }
#position-3-0 { top:354px; left:0  }
#position-3-1 { top:354px; left:121.333px }
#position-3-2 { top:354px; left:242.666px   }
#position-3-3 { top:354px; left:363.999px  }


/*不同数字样子*/
.num_cell { width: 106px; height: 106px; border-radius: 3px; text-align: center; line-height: 106px; font-size: 60px; position: absolute}
.n2{background-color:#eee3da;}
.n4{background-color:#ede0c8;}
.n8{background-color:#f2b179;}
.n16{background-color:#f59563;}
.n32{background-color:#f67c5f;}
.n64{background-color:#f65e3b;}
.n128{background-color:#edcf72;}
.n256{background-color:#edcc61;}
.n512{background-color:#9c0;}
.n1024{background-color:#33b5e5;}
.n2048{background-color:#09c;}
.n8,.n16,.n32,.n64,.n128,.n256,.n512,.n1024,.n2048{color:#fff;}
.n128,.n256,.n512,.n1024,.n2048{font-size:40px;}

/*动画*/
.num_cell { transition: left 0.2s linear;transition: top 0.2s linear;;}

